html {
    scroll-behavior: smooth;
}

body {
    background: lightgray;
    font-family: 'Exo 2', sans-serif;
}

/* NAVEGADOR */
.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: right;
    background: rgb(155, 11, 11);
}

.elementos {
    display: inline;
}

.link {
    font-family: 'Exo 2', sans-serif;
    padding: 20px;
    line-height: 3;
    margin-top: 10px;
    margin-right: 40px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.link:hover {
    background: rgb(116, 8, 8);
}

/* MODAL */
.modal, .modal2, .modal3, .modal4 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

/* MODAL SSH */
#btn-modal:checked ~ .modal {
    opacity: 1;
    visibility: visible;
}

#btn-modalDos:checked ~ .modal2 {
    opacity: 1;
    visibility: visible;
}

#btn-modalTres:checked ~ .modal3 {
    opacity: 1;
    visibility: visible;
}

#btn-modalCuatro:checked ~ .modal4 {
    opacity: 1;
    visibility: visible;
}

.contenedor {
    width: 600px;
    height: 90vh;
    margin: auto;
    background: lightgrey;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, .7);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}

#btn-modal:checked ~ .modal .contenedor{
    transform: translateY(0%);
}

#btn-modalDos:checked ~ .modal2 .contenedor{
    transform: translateY(0%);
}

#btn-modalTres:checked ~ .modal3 .contenedor{
    transform: translateY(0%);
}

#btn-modalCuatro:checked ~ .modal4 .contenedor{
    transform: translateY(0%);
}

.contenedor header {
    padding: 10px;
    background: rgb(155, 11, 11);
    color: white;
}

.contenedor label {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.contenido {
    padding: 10px;
}

.parrafos {
    text-align: justify;
}

.parrafos span {
    font-family: monospace;
    font-size: 1.1em;
}

.subtitulo {
    font-size: 1.3em;
    text-transform: uppercase;
}

.codigo {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background: rgb(182, 182, 182);
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#btn-modal, #btn-modalDos, #btn-modalTres, #btn-modalCuatro {
    display: none;
}
.lbl-modal, .lbl-modal2, .lbl-modal3, .lbl-modal4 {
    margin-right: 10px;
    color: white;
    background: rgb(155, 11, 11);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.lbl-modal:hover,.lbl-modal2:hover, .lbl-modal3:hover, .lbl-modal4:hover {
    background: rgb(114, 8, 8);
}


/* DISPOSITIVOS GRADES MIN DE 981px */
@media (min-width:981px){

    .principal {
        width: 100%;
        height: 600px;
        background-image: url(img/cable_ethernet.jpg);
        background-size: cover;
        display: flex;
    }

    .title {
        width: 70%;
        height: 300px;
        background:rgba(0, 0, 0, .7);
        margin-top: 150px;
        margin-left: 15%;
        border-radius: 20px;
        color: white;
        text-align: center;

    }

    .letras {
        line-height: 1.5;
        font-family: 'Exo 2', sans-serif;
        font-size: 3rem;
        font-weight: bold;
    }

    .seccion2 {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
    ul {
        text-decoration: none;
    }
    .nombre {
        font-family: 'Exo 2', sans-serif;
        text-decoration: none;
        font-size: 4rem;
        color:rgb(155, 11, 11);
        font-weight: bold;
    }

    .equipo {
        margin-left: 10%;
        width: 80%;
        height: 500px;
        background-image: url(img/rojo.png);
        background-size: cover;

        font-family: 'Exo 2', sans-serif;    
    }

    .presentacion {
        text-align: center;
        font-size: 3rem;
    }

    .presentacion::first-letter{
        font-size: 1.4em;
        color: rgb(155, 11, 11);
    }

    .pre {
        font-family: 'Exo 2', sans-serif;
        font-size: 2rem;
        display: inline-block;
        margin-left: 20%;
        text-align: center;
    }

    .span {
        font-size: 1.2em;
        color:rgb(155, 11, 11);
    }

}


/* DISPOSITIVOS MEDIANOS*/
@media (max-width:981px){
    .principal {
        width: 100%;
        height: 500px;
        background-image: url(img/cable_ethernet.jpg);
        background-size: cover;
        padding-top: 100px;
    }

    .title {
        width: 70%;
        height: 200px;
        background:rgba(0, 0, 0, .7);
        margin-left: 15%;
        border-radius: 20px;
        color: white;
        text-align: center;
    }

    .letras {
        line-height: 2;
        font-family: 'Exo 2', sans-serif;
        font-size: 2rem;
    }

    .seccion2 {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
    ul {
        text-decoration: none;
    }
    .nombre {
        font-family: 'Exo 2', sans-serif;
        text-decoration: none;
        font-size: 2rem;
        color:rgb(155, 11, 11);
        font-weight: bold;
        padding: .5em;
        border-radius: 10px;
    }

    .equipo {
        margin-left: 10%;
        width: 80%;
        height: 500px;
        background-image: url(img/rojo.png);
        background-size: cover;
        font-family: 'Exo 2', sans-serif;    
    }

    .presentacion {
        text-align: center;
        font-size: 2rem;
    }

    .presentacion::first-letter{
        font-size: 1.4em;
        color: rgb(155, 11, 11);
    }

    .pre {
        font-family: 'Exo 2', sans-serif;
        font-size: 1.5rem;
        display: block;
        text-align: center;
    }

    .span {
        font-size: 1.2em;
        color:rgb(155, 11, 11);
    }
}


/* DISPOSITIVOS PEQUEÑOS */
@media (max-width:622px){
    .principal {
        width: 100%;
        height: 300px;
        background-image: url(img/cable_ethernet.jpg);
        background-size: cover;
        padding-top: 100px;
    }
    .title {
        width: 70%;
        height: 100px;
        background:rgba(0, 0, 0, .7);
        margin-left: 15%;
        border-radius: 20px;
        color: white;
        text-align: center;
    }

    .letras {
        
        font-family: 'Exo 2', sans-serif;
        font-size: 1rem;
    }

    .equipo {
        margin-left: 5%;
        width: 90%;
        height: 500px;
        background-image: url(img/rojo.png);
        background-size: cover;

        font-family: 'Exo 2', sans-serif;    
    }

    .presentacion {
        text-align: center;
        font-size: 1.5rem;
    }

    .presentacion::first-letter{
        font-size: 1.4em;
        color: rgb(155, 11, 11);
    }

    .pre {
        font-family: 'Exo 2', sans-serif;
        font-size: 1rem;
        display: block;
        text-align: center;
    }

    .span {
        font-size: 1em;
        color:rgb(155, 11, 11);
    }
}